.DS_Store
/.ipynb_checkpoints
/__pycache__
/Data
/tests_and_development
/igl_data
data_analysis.ipynb
mesh_mapping.ipynb
optimisation.ipynb
plot_coor.ipynb
/iframe_figures
/src/__pycache__
/archive
/sim/meshharm
/sim/spharm
